<div ng-controller="voteCtrl">
<h1 class="cover-heading" ng-hide="vote != ''">Laddar första motion var god vänta</h1>
<h1 class="cover-heading">{{vote.summary}}</h1>
<p class="lead">{{vote.forslag}}</p>
<p class="lead">
  <div class="btn btn-lg btn-default" ng-click="agreeWithVote()">I agree completly</div>
  <div class="btn btn-lg btn-default" ng-click="disagreeWithVote()">Are you mad? We will all be ruined</div>
</p>
<div ng-repeat="votering in voteringinformation | limitTo: 5">
    <p class="lead">{{votering.namn}} ({{votering.parti}}) agreed with you</p>
</div>
<p>{{vote}}</p>
</div>
