<div ng-controller="voteCtrl">
    <h1 class="cover-heading" ng-hide="vote != null">Laddar första motion var god vänta...</h1>
    <div id="vote" class="col-xs-12 col-sm-6 col-sm-offset-3" ng-hide="vote == null">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{vote.summary}}</h3>
            </div>
            <div class="panel-body">
               <p>{{vote.forslag}}</p>
                <div class="btn btn-sm btn-success col-xs-6 col-md-4 col-md-offset-2" ng-click="agreeWithVote()">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <p class="hidden-xs visible-lg">I agree completly</p></div>
                <div class="btn btn-sm btn-danger col-xs-6 col-md-4" ng-click="disagreeWithVote()">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    <p class="hidden-xs visible-lg">Are you mad? We will all be ruined</p>
                </div>
            </div>
        </div>
    </div>

    <div id="voteresult" class="col-xs-12 col-sm-3 col-lg-2" ng-hide="voteringinformation == null">
        <div class="panel">
            <div ng-repeat="votering in voteringinformation | orderBy: 'randomNumber' | limitTo: 3" class="row">
                <img class="img-responsive img-circle col-xs-2 col-xs-offset-1 col-sm-4 col-md-3" ng-src="http://data.riksdagen.se/filarkiv/bilder/ledamot/{{votering.intressent_id}}_80.jpg" />
                <p class="col-xs-9 col-sm-7"> {{votering.namn}} ({{votering.parti}}) agreed</p>
            </div>
        </div>
    </div>
</div>
