<div ng-controller="voteCtrl">
    <h1 class="cover-heading" ng-hide="initialized == true">Kopplar upp sig mot riksdagen</h1>
    <div id="vote" class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-offset-3 col-lg-6" ng-hide="initialized == false">
        <div class="panel panel-default" ng-switch on="vote">
            <div class="panel-heading">
                <h3 class="panel-title">{{vote.titel}}</h3>
                <h3 class="panel-title" ng-hide="vote.titel == vote.summary">{{vote.summary}}</h3>
            </div>
            <div class="panel-body">
               <p ng-hide="true">{{vote.forslag}}</p>
               <div class="row voteresult-animate" ng-repeat="parsedForslag in vote.parsedForslag">
                   <p>{{parsedForslag.summary}}</p>
                   <a class="btn btn-default btn-lg active" ng-href="{{parsedForslag.dokument_url_html}}" target="_blank">Mer</a>
               </div>
                <div class="btn btn-sm btn-success col-xs-6 col-md-4 col-md-offset-2" ng-click="processingVote || agreeWithVote()" ng-disabled="processingVote">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <p class="hidden-xs visible-lg">I agree completly</p></div>
                <div class="btn btn-sm btn-danger col-xs-6 col-md-4" ng-click="processingVote || disagreeWithVote()" ng-disabled="processingVote">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    <p class="hidden-xs visible-lg">Are you mad?</p>
                </div>
            </div>
        </div>

        <div id="currentvoteresult" class="hidden-xs" ng-hide="voteringinformation == null">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{voteringinformation.titel}}</h3>
                    <h3 class="panel-title" ng-hide="vote.titel == vote.summary">{{voteringinformation.summary}}</h3>
                </div>
                <div class="panel col-sm-12">
                    <div ng-repeat="votering in voteringinformation | orderBy: 'randomNumber' | limitTo: 3" class="row voteresult-animate">
                        <img class="img-responsive img-circle col-sm-offset-2 col-sm-1" ng-src="http://data.riksdagen.se/filarkiv/bilder/ledamot/{{votering.intressent_id}}_80.jpg" />
                        <p class="col-xs-9 col-sm-7"> {{votering.namn}} ({{votering.parti}}) röstade som dig</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="totalvoteresult" class="col-xs-12 col-sm-3 col-lg-3 " ng-hide="initialized == false">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Du har röstat mest som</h3>
        </div>
        <input ng-model="searchText">
        <div class="panel">
            <div ng-repeat="votering in totalResult |filter: searchText | orderBy: 'score': true | limitTo: 5" class="row voteresult-animate">
                <img class="img-responsive img-circle col-xs-2 col-xs-offset-1 col-sm-3 col-md-2" ng-src="http://data.riksdagen.se/filarkiv/bilder/ledamot/{{votering.intressent_id}}_80.jpg" />
                <p class="col-xs-9 col-sm-7"> {{votering.namn}} ({{votering.parti}})</p>
                <p class="col-xs-9 col-sm-7"> röstade som dig {{votering.score}} gånger</p>
            </div>
        </div>
        </div>
    </div>


</div>
